.invoices-main-header {
  margin: 0 auto;
  width: 750px;
  height: 120px;
  /* border: 1px solid ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoices-main-header__title h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48 px;
  letter-spacing: -1px;
  color: #0c0e16;
}
.invoices-main-header__title p {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
}
.invoices-main-header__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoices-main-header__select {
  width: 150px;
  height: 30px;
  font-size: 16px;
  outline: none;
  border: none;
  background: none;
  padding: 0 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}
.add-invoice-button {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7c5dfa;
  border-radius: 24px;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}

.add-invoice-button:hover {
  cursor: pointer;
  background-color: #9277ff;
}
.add-invoice-button .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.add-invoice-button .plus i {
  color: #7c5dfa;
  font-size: 14px;
}
.add-invoice-button p {
  color: white;
  font-weight: 600;
  margin: 0 15px;
  font-size: 16px;
}
